<p>Esta página tiene un concepto de login de usuarios.</p>
<p>No funciona de mucho, de hecho solo es una prueba ya que no tiene ninguna funcionalidad por el momento.</p>
<p>Los datos de acceso son los siguientes:</p>
<blockquote class="blockquote">
    <p><strong>Usuario: </strong>prueba&#64;outlook.com</p>
    <p><strong>Contraseña: </strong>prueba123</p>
</blockquote>
<p>¿Cómo sé que funcionó el login?</p>
<ul>
    <li>Si ingresas con las credenciales correctas, el último elemento del navbar debió cambiar de <em>Login</em> a
        <em>Logout</em>.
    </li>
    <li>Con cualquier otra combinación de credenciales, el último elemento del navbar se mantendrá como <em>Login</em>
        ya que no hay otra combinación válida de credenciales.
    </li>
</ul>
<img src="./assets/img/navbar-logout.png" alt="¿Ya te logueaste?" class="img-fluid">
<p class="lead text-center">El secreto está en las APIs...</p>