 <div class="container">
  <footer class="py-3 my-4">
    <figure class="text-end">
        <blockquote class="blockquote">
          <p>Nunca te desvíes del Camino.</p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Miyamoto Musashi
        </figcaption>
      </figure>
    <p class="text-center text-body-secondary">Versión {{version}}, construido con <a href="//angular.dev/overview" target="_blank" rel="noopener noreferrer">Angular v18</a></p>
  </footer>
  </div>