<h1 class="text-center">Error</h1>
<div class="row">
    <div class="col">
        <p>El enlace que acabas de seguir parece estar roto.</p>
    <p><a [routerLink]="['']">Regresar a la página principal</a></p></div>
</div>
<div class="row">
    <div class="col text-center">
        <figure class="figure">
            <img class="figure-img img-fluid" src="./assets/img/42986760_p8.webp" alt="Error">
            <figcaption class="figure-caption text-center">Imagen: おつまみ大将軍 en Pixiv</figcaption>
        </figure>
        </div>
</div>