<div class="row">
  <div class="col">
    <h1 class="text-center">{{title}}</h1>
  </div>
</div>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" aria-current="main" [routerLink]="['/proyectos']">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/proyectos/animeuwu']">AnimeUWU</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/proyectos/empleados']">Lista de empleados</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/proyectos/dice']">Dados</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/proyectos/login']">Login</a>
  </li>
</ul>
<div class="row ">
  <div class="col p-3">
    <router-outlet></router-outlet>
  </div>
</div>
